<div class="dialog-wrapper">
  <nb-card class="card-box">

<h1 id="title" class="title">Update {{updatingColumn.columnName}}</h1>

<form #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-name">Column Name: </label>
    <input nbInput
           fullWidth
           [(ngModel)]="updatingColumnWrapper.columnName"
           name="columnName"

           placeholder="{{updatingColumnWrapper.columnName}}">
  </div>

  <div class="form-control-group">
    <button nbButton fullWidth status="info" (click)="onFormSubmit()" > Update </button>
    <button nbButton fullWidth status="danger" (click)="onFormCancel()" > Cancel </button>
  </div>
</form>


</nb-card>
</div>
