<div class="dialog-wrapper">
  <nb-card class="card-box">
    <h1 id="title" class="title">Authorization page</h1>
    <form #form="ngForm" aria-labelledby="title">
      <div class="form-control-group">
        <label class="label" for="input-name">User name:</label>
        <input nbInput
          fullWidth
          [(ngModel)]="user.username"
          name="userName"
          placeholder="username">
      </div>

      <div class="form-control-group">
        <label class="label" for="input-description">Password:</label>
        <input nbInput
          fullWidth
          [(ngModel)]="user.password"
          name="password"
          placeholder="Passsword">
      </div>

      <div class="form-control-group">
        <button nbButton fullWidth status="info" (click)="login()" > Login </button>
        <button nbButton fullWidth status="danger" (click)="register()" > Register </button>
      </div>
    </form>
  </nb-card>
</div>
