

<div class="board-main-content">


  <nb-card class="menu-header">
    <span class="menu-content">
      <div class = "menu-options">
        <nb-form-field class="menu-options-search">
          <nb-icon nbPrefix icon="search-outline"></nb-icon>
          <input type="text" size="small" nbInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        </nb-form-field>

        <nb-select class="menu-options-sort" placeholder="Select Showcase" size="small" [(selected)]="selectedItem">
          <nb-option value="">Sort By...</nb-option>
          <nb-option value="0">By id</nb-option>
          <nb-option value="1">By name</nb-option>
        </nb-select>

        <nb-actions size="medium">
          <nb-action icon="plus-square-outline" (click)="addNewBoard()"></nb-action>
        </nb-actions>


          <!-- <button nbButton ghost size="large" class="menu-options-button" [nbContextMenu]="menuOptions" nbContextMenuTrigger="hover">
            <nb-icon icon="menu-2-outline"></nb-icon>
          </button> -->

      </div>
    </span>
  </nb-card>



  <div class="board-canvas">
    <div  id="home-page"
          class="board-scrollbar"
          cdkDropList
          [cdkDropListData]="boards"
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="drop($event)">
      <div class="board-wrapper"  *ngFor="let board of boards" cdkDrag
      data-drag-scroll-enabled="true">
      <div class="board-card-placeholder" *cdkDragPlaceholder></div>

            <nb-card class="board-card" #Board
              (mouseenter)="onMouseEnter(Board)"
              (mouseleave)="onMouseOut(Board)">
              <nb-card-header class="board-card-header">
                <div>
                  <span class="board-card-boardname" [routerLink]="['/board', board.id]">{{board.boardName}}</span>
                  <div class="board-card-extras">

                    <button nbButton ghost status="info" (click)="updateBoard(board)">
                      <nb-icon icon="edit-2-outline"></nb-icon>
                    </button>

                    <button nbButton ghost status="info" (click)="deleteBoard(board)">
                      <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>


                    <!-- <button nbButton
                            ghost
                            status="info"
                            [nbContextMenu]="boardOptions"
                            nbContextMenuTrigger="click"
                            nbMenuItem>
                      <nb-icon icon="more-horizontal-outline"></nb-icon>
                    </button> -->
                  </div>
                </div>
              </nb-card-header>
              <div class="board-card-body">
              <nb-card-body>
                {{board.boardDescription}}
              </nb-card-body>
              </div>
            </nb-card>
      </div>
      <!-- <div class="board-wrapper">
        <form>
          <nb-card class="open-add-board">
            <span class="placeholder">Add new Board...</span>
          </nb-card>
        </form>
      </div> -->
    </div>
  </div>
<!--
  <div class="board-wrapper">
    <nb-card size="tiny" #addBoard
        (mouseenter)="onMouseEnter(addBoard)"
        (mouseleave)="onMouseOut(addBoard)">
      <nb-card-header> New Board</nb-card-header>
      <nb-card-body>
        <nb-icon class="card-add-icon" icon="plus-square-outline"></nb-icon>
      </nb-card-body>
    </nb-card>
  </div> -->

</div>


