
<div class="card-row">


<div   cdkDropList [cdkDropListData]="boards" cdkDropListOrientation="horizontal"
(cdkDropListDropped)="drop($event)">
  <div class="card-col"  *ngFor="let board of boards" cdkDrag
  [routerLink]="['/board', board.id]">

    <nb-card #Board size="tiny"
    (mouseenter)="onMouseEnter(Board)"
    (mouseleave)="onMouseOut(Board)"
     >
      <nb-card-header >{{board.boardName}} </nb-card-header>
      <nb-card-body>
        {{board.boardDescription}}
      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="card-col">
  <nb-card size="tiny" #addBoard
      (mouseenter)="onMouseEnter(addBoard)"
      (mouseleave)="onMouseOut(addBoard)">
    <nb-card-header> New Board</nb-card-header>
    <nb-card-body>
      <nb-icon class="card-add-icon" icon="plus-square-outline"></nb-icon>
    </nb-card-body>
  </nb-card>
</div>
  </div>


