.dialog-buttons {
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 1;
}

.button {
  margin-top: 20px;
}

.dialog-wrapper {
  width: 400px;
  //text-align: center;
}

.card-box {
  padding: 10px;
}

.title {
  text-align: center;
}
