<div class="board-main-content">

<nb-card class="menu-header">
  <span class="menu-content">
    <div class = "menu-options">
      <span class="menu-board-name">{{board.boardName}}</span>
      <nb-form-field class="menu-options-search">
        <nb-icon nbPrefix icon="search-outline"></nb-icon>
        <input type="text" size="small" nbInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </nb-form-field>

      <nb-select class="menu-options-sort" placeholder="Select Showcase" size="small" [(selected)]="selectedItem">
        <nb-option value="">Sort By...</nb-option>
        <nb-option value="0">By id</nb-option>
        <nb-option value="1">By name</nb-option>
      </nb-select>


      <nb-actions size="medium">
        <nb-action icon="plus-square-outline" (click)="addNewColumn()">add new Column</nb-action>
      </nb-actions>

    </div>
  </span>
</nb-card>


<div class="column-canvas" cdkDropList [cdkDropListData]="columns" cdkDropListOrientation="horizontal"
(cdkDropListDropped)="dropColumn($event)">
  <div id="board-page"  class="column-scrollbar" cdkDropListGroup>
    <div class="column-wrapper" *ngFor="let column of columns" cdkDrag data-drag-scroll-enabled="true">
      <div class="column-card-placeholder" *cdkDragPlaceholder cdkDragPlaceholderOrientation="horizontal"></div>

      <nb-card class="column-card" #Column (mouseenter)="onMouseEnter(Column)" (mouseleave)="onMouseOut(Column)">

        <nb-card-header class="column-card-header">
            <span class="column-card-cardname">{{column.columnName}}</span>
            <div class="column-card-extras">
              <button nbButton ghost status="info" (click)="updateColumn(column)">
                <nb-icon icon="edit-2-outline"></nb-icon>
              </button>

              <button nbButton ghost status="info" (click)="deleteColumn(column)">
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </div>
        </nb-card-header>

        <nb-card-body class="tasks-list" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="dropTask($event, column.id)">
            <div class="task-card-wrapper" *ngFor="let task of column.tasks" cdkDrag>
              <div class="task-card-placeholder" *cdkDragPlaceholder></div>

              <nb-card class="task-card">
                <nb-card-header class="task-card-header">
                  <span class="task-card-cardname">{{task.taskName}}</span>
                  <div class="task-card-extras">
                    <button nbButton ghost status="info" (click)="updateTask(task)">
                      <nb-icon icon="edit-2-outline"></nb-icon>
                    </button>

                    <button nbButton ghost status="info" (click)="deleteTask(task)">
                      <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                  </div>
                </nb-card-header>
                <nb-card-body>
                  {{task.taskDescription}}
                </nb-card-body>

              </nb-card>
            </div>
        </nb-card-body>

        <nb-card-footer class="footer-card">
          <span class="footer-card-cardname">Add New Task </span>
          <div class="footer-card-extras">
            <button nbButton ghost status="info" (click)="addNewTask(column.id)">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </div>

        </nb-card-footer>



      </nb-card>
    </div>
  </div>
</div>

</div>


